#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  background-image: url("/bg.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
